/********f************
    
    Project 4 Styles
    Name: Noah Yanga
    Date: December 19 2022
    Description: Project 4 Styles

********************/
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: tan;
}

header {
    background: linear-gradient(180deg, rgba(55,45,19,1) 0%, rgba(210,180,140,1) 22%, rgba(210,180,140,1) 93%);
    color: #333;
    text-align: center;
    padding: 20px;
}

#top {
    text-align: center;
    font-size: 40px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #45a049;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    color:greenyellow;
}

main {
    max-width: 800px;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -2%;
}

p {
    font-size: 25px;
}

#under {
    font-size: 20px;
    margin-top: -1%;
    text-align: center;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 640px) {
    main {
        padding: 10px;
        width: 400px;
        height: 450px;
    }

    main p {
        font-size: 10px;
    }


    footer {
        padding: 5px;
    }
}


#top {
    text-align: center;
    font-size: 50px;
}


h3 {
    color: #333;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    font-size: 30px;
    list-style:circle;
    list-style-type:disc;
    margin-left: 5%;
}

